section {
  height: 100vh;
}

h4 {
  font-size: 1.75em;
  margin: 0 0 0.75em 0;
}

.containerBlock {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;

  justify-content: center;
  /* This line makes FlexBox responsive */
}

.textArticle {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex: 0 1 50%;
  min-width: 300px;

  box-sizing: border-box;
  padding: 0.7em;
  min-height: 50vh;
  flex: 1;
}

.article {
  padding-right: 50px;
  font-size: 18px;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* use: 'row' for text from top to bottom */
  margin-left: 40px;

  align-items: center;
  justify-content: center;
  background-image: url("../../img/cup2.png");
  background-color: #fff;
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 0 50%;
  min-width: 300px;
  box-sizing: border-box;
  margin: 10px;
  max-width: 50%;
  min-height: 50vh;
  margin-bottom: 10px;
}
