section {
  height: 100vh;
}

h4 {
  font-size: 1.75em;
  margin: 0 0 0.75em 0;
}

.containerBlock {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 1;

  /* This line makes FlexBox responsive */
}

.textArticle {
  display: flex;
  flex-direction: center;

  justify-content: center;
  background-color: white;
  flex: 0 1 50%;
  min-width: 350px;

  box-sizing: border-box;
  padding: 0.7em;
  min-height: 50vh;
  flex: 1;
}

.article {
  margin-right: 10px;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* use: 'row' for text from top to bottom */
  justify-content: center;
  background-image: url("../../img/cup.png");
  background-color: #fff;
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 0 50%;
  min-width: 300px;
  box-sizing: border-box;
  padding: 1em;
  max-width: 50%;
  min-height: 50vh;
  margin-bottom: 20px;
}
